@font-face {
    font-family: 'Inter-medium';
    src: url('static/Inter-Medium.woff2') format('woff2'), 
         url('static/Inter-Medium.woff') format('woff'), 
         url('static/Inter-Medium.ttf') format('truetype'); 

    font-family: 'Inter-light';
    src: url('static/Inter-Light.ttf') format('woff2'), 
        url('static/Inter-Light.woff') format('woff'), 
        url('static/Inter-Light.ttf') format('truetype'); 
}


a:hover{
    color:#a6a6a6; 
}

a:visited{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.topright{
    position: absolute;
    top: 5%;
    right: 5%;
}
.about{
    font-size: 12px;
    text-align: right;
}

body {
    background-color: #0B0B0B;
    color: white;
    font-family: 'Inter', sans-serif; 
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}

img {
    width: 100%;
    height: auto;
}

.overview{
    text-align: center;
    padding: 100px;
}

.p-text{
    text-align: left;
    padding: 80px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 48%;
    padding: 5px;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.margin{
    margin-bottom: 120px;
}